.navbar {
  background-color: white;

  padding: 10px 0;
  position: fixed;
  display: flex;

  width: 100%;
  padding: 24px;

  align-items: center;

  @media (max-width: 768px) {
    border-radius: 16px;
    padding: 8px;
  }
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
  // max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.avatar {
  text-transform: capitalize;
}

.navbarOuter {
  width: 100%;
  display: flex;
  height: 70px;
  position: relative;
  align-items: center;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navLinks li {
  display: inline-block;
  margin-bottom: 0 !important;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff;
}

.login {
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  span {
    height: 2px;
    width: 25px;
    background-color: #333;
    margin: 3px;
    transition: 0.3s;
  }
}

.open {
  display: block;
}

/* Toggle bar animations */
.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2 {
  opacity: 0;
}

.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 16px;
    align-items: center;
  }

  .navLinks.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navLinks li {
    padding: 12px;
    align-items: center;
  }

  .navLinks a {
    width: 100%;
    padding: 0;
  }
  .login {
    padding: 10px 20px !important;
  }
}
.userText {
  color: #333;
}
