.userMessage {
  align-self: flex-end;
  background-color: #f9f7ff;
  color: #1a1f16;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 1.5rem;
  margin-bottom: 5px;
  width: auto;
  word-wrap: break-word;
  // min-height: 46px;

  max-width: 60%;
  @media (max-width: 800px) {
    max-width: 85%;
  }
}

.botMessage {
  align-self: flex-start;
  color: #1a1f16;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  /* max-width: 60%; */
}
.messageContent {
  padding-top: 2px;
}
.chatBotIcon {
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 16px;
}
