/* .suggestion-card{
    width: 50%;

    padding: 8px;

    background: red;
} */
.suggestionCard {
  background-color: #e0f7fa;
  border-radius: 12px;
  padding: 12px 24px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #00796b;
  font-weight: 500;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 180px;
  width: calc(100% / 4);
}

.suggestionCard:hover {
  background-color: #b2ebf2;
  transform: translateY(-2px);
}

.suggestionCard:active {
  transform: translateY(1px);
}
